name: CI
on:
  workflow_dispatch:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: 3.9
            poetry-version: 1.1.11
            os: windows-latest
            cmd: poetry run pyinstaller hpcflow/cli.py -n=hpcflow-exe --onefile
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: poetry install
        run: poetry install
      - name: test click import
        run: poetry run python -c "import click; print(click)"
      - name: Build with pyinstaller for ${{matrix.os}}
        run: ${{ matrix.cmd }}
      - uses: actions/upload-artifact@v2
        with:
          name: binary
          path: dist/hpcflow-exe.exe
      - uses: actions/upload-artifact@v2
        with:
          name: warn-hpcflow-exe.txt
          path: build/hpcflow-exe/warn-hpcflow-exe.txt
