name: CI
on:
  workflow_dispatch:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        include:
        
#           - python-version: 3.7
#             os: windows-latest
#             cmd: poetry run pyinstaller hpcflow/cli.py --name=hpcflow --onefile

#           - python-version: 3.8
#             os: windows-latest
#             cmd: poetry run pyinstaller hpcflow/cli.py --name=hpcflow --onefile
            
          - python-version: 3.9
            os: windows-latest
            cmd: poetry run pyinstaller hpcflow/cli.py --name=hpcflow --onefile
            out-file: hpcflow.exe
            
          - python-version: 3.9
            os: ubuntu-latest
            cmd: poetry run pyinstaller hpcflow/cli.py --name=hpcflow --onefile
            out-file: hpcflow

          - python-version: 3.9
            os: macos-latest
            cmd: poetry run pyinstaller hpcflow/cli.py --name=hpcflow --onefile
            out-file: hpcflow
            
    runs-on: ${{ matrix.os }}
    steps:
      
      - uses: actions/checkout@v2
      
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}          
      
      - name: Install poetry
        run: |
          python -m pip install poetry==1.1.11      
      
      - name: Configure poetry
        run: |
          poetry config virtualenvs.in-project true      
      
      - name: Cache the virtualenv
        uses: actions/cache@v2
        with:
          path: ./.venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}      
                
      - name: Install dependencies
        run: |
          poetry install             
                
      - name: Build with pyinstaller for ${{matrix.os}}
        run: ${{ matrix.cmd }}
        
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ matrix.python-version }}-hpcflow
          path: dist/${{ matrix.out-file }}
          
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ matrix.python-version }}-warn-hpcflow.txt
          path: build/hpcflow/warn-hpcflow.txt
